absl-py==0.15.0
astroplan==0.8
astropy==4.3.1
astropy-healpix==0.6
astunparse==1.6.3
backports.entry-points-selectable==1.1.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
clang==11.0
conda==4.3.16
-e git+https://github.com/dzwiedziu-nkg/credo-classify-framework.git@9ebaf737dd089e111e45e81b592003c7c70d4abf#egg=credo_cf
cryptography==35.0.0
cycler==0.10.0
dill==0.3.4
distlib==0.3.3
et-xmlfile==1.1.0
filelock==3.3.1
flatbuffers==2.0
future==0.18.2
gast==0.5.2
google-auth==2.3.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.0
h5py==3.4.0
healpy==1.15.0
idna==3.3
imageio==2.9.0
joblib==1.0.1
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
lalsuite==7.0
ligo-gracedb==2.7.6
ligo-segments==1.4.0
ligo.skymap==0.5.3
lscsoft-glue==2.0.0
mahotas==1.4.12
Markdown==3.3.4
matplotlib==3.4.3
networkx==2.6.3
numpy==1.21.2
oauthlib==3.1.1
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
openpyxl==3.0.9
opt-einsum==3.3.0
pandas==1.3.4
photutils==1.2.0
Pillow==8.4.0
pipenv==2021.5.29
platformdirs==2.4.0
protobuf==3.18.1
ptemcee==1.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.20
pyerfa==2.0.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-ligo-lw==1.7.1
pytz==2021.3
PyWavelets==1.1.1
PyYAML==6.0
reproject==0.8
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
scikit-image==0.18.3
scikit-learn==1.0
scipy==1.7.1
seaborn==0.11.2
six==1.16.0
sklearn==0.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl==3.0.0
tifffile==2021.10.12
tk==0.1.0
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
virtualenv==20.9.0
virtualenv-clone==0.5.7
Werkzeug==2.0.2
wrapt==1.13.2
